/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2015, 9:08:34 PM
    Author     : Axita
*/
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
        nav ul {
	background: none; 
        box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 40px;
	border-radius: 10px;  
	list-style: none;
	position: static;
	display:block ;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
        nav ul li {
	float:none;
}
	nav ul li:hover {
		background:none;
		
	}
		nav ul li:hover a {
			color:black;
		}
                nav ul ul {
                    list-style: element;
                    color: #000 !important;
                    position: absolute;
                    top:60%;
                    left:53%;
                    margin: 0;
                    padding: 0;
                    display:none;
                    
                    background: darkolivegreen; 
               border-style: groove;
               border-radius: 12px; padding: 0;
             border-color:darkgreen ;
	
       
}
	nav ul ul li {
		 float:none;
                 margin: 0;
                 padding: 0;
                 display: block;
                 border-bottom:none;
                     height: 32px !important;
                 width: auto  !important;
                 line-height: 20px !important;
                color:green;
		position:static;
	}
		nav ul ul li a {
                        display:ruby-text-group;
			padding:5px 0 0 0 ;
                            color:black;
		}	
			nav ul ul li a:hover {
				background: none;
                                color:black;
			}
                        nav ul ul ul {
	                   position: absolute; left: 100%; top:0;
}
	
	nav ul li a {
		display:ruby-text-group; padding: 5px 10px;
                list-style:image;
		color:black; text-decoration: none;
	}
